<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../css/semantic-ui-2.3.1.min.css" th:href="@{/css/semantic-ui-2.3.1.min.css}">
    <script src="../js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script src="../js/semantic-ui-2.3.1.min.js" th:src="@{/js/semantic-ui-2.3.1.min.js}"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>LEDR Dashboard login</title>
</head>
<body>
<div class="ui blue inverted borderless menu">
    <a class="item">
        LEDR Dashboard
    </a>
</div>
<div class="ui relaxed grid">
    <div class="three column row">
        <div class="column"></div>
        <div class="column">
            <div class="ui negative message" th:if="${param.error}">
                <div class="header">Invalid username and password</div>
                <p>Please try again or contact the administrator.</p>
            </div>
            <form th:action="@{/login}" class="ui form" method="post">
                <div class="field">
                    <label>User Name</label>
                    <input type="text" name="username" placeholder="Username" autocomplete="username"/>
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Password" autocomplete="current-password"/>
                </div>
                <div class="field">
                    <button class="ui button" type="submit">Sign In</button>
                </div>
            </form>
        </div>
        <div class="column"></div>
    </div>
</div>
</body>
</html>